

@font-face {
    font-family: 'super_boysregular';
    src: url(Font/superboys-vmw67-webfont.woff2) format('woff2');
    font-weight: normal;
    font-style: normal;
}


:root{
    --mainfont: 'super_boysregular'
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    background-image: url(imgs/vecteezy_pop-art-background-comic-halftone-dots-cartoon-vector_8241533.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

html, body {
    height: 100%;
}

h1{
    font-family: var(--mainfont);
    font-size: 4.5rem;
    align-self: center;

}

h2{
    text-align: center;
    font-family: var(--mainfont);
    font-size: 2.5rem;

}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    position: relative;
    left: 120px;
}   

.header h1, .header h2{
    letter-spacing: .4rem;

}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3.5rem;
}



.main-content{
display: flex;
}

.players{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.player-name{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding-right: 1.8rem;
}

input, .playerSymbol {
    font-family: var(--mainfont);
    padding-left: 12px;
    height: 2.3rem;
    border-radius: .4rem;
    font-size: 1.2rem;
    letter-spacing: .1rem;


}

label{
    font-family: var(--mainfont);
    font-size: 2.1rem;
}

button {
    font-family: var(--mainfont);
    margin-right: 1.8rem;
    height: 2.3rem;
    border-radius: .4rem;
    font-size: 1.2rem;

}

#message{
    padding: .8rem;
    letter-spacing: .2rem;
}

.gameboard{
    border: 4px solid black;
    border-radius:  1.2rem;
    display: grid;
    grid: 12.5rem 12.5rem 12.5rem / 12.5rem 12.5rem 12.5rem ;
    width: auto;
}

.grid-body{
    align-items: center;
    text-align: center;
    border: 4px solid black;
    font-size: 8.5rem;
    font-family: var(--mainfont);
    padding-top: 2rem;

}



.gameboard .grid-body:nth-of-type(1){
    border-top-left-radius: .9rem;
}

.gameboard .grid-body:nth-of-type(3){
    border-top-right-radius: .9rem;
}

.gameboard .grid-body:nth-of-type(7){
    border-bottom-left-radius: .9rem;
}
.gameboard .grid-body:nth-of-type(9){
    border-bottom-right-radius: .9rem;
}